* {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.calContainer {
    display: flex;
    margin: auto;
    height: 100vh;
    background-color: #f2f2f2;
}

.calender {
    margin: auto;
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
}

.month {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 40px 30px;
    background-color: rgb(176, 27, 149);
}


#month {
    font-size: 40px;
}

.prev,
.next {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.prev:hover,
.next:hover {
    background-color: rgb(171, 4, 140);
}

.weekDays {
    display: flex;
    background-color: rgb(190, 9, 155);
    ;
    padding: 5px 5px;
}

.weekDays div {
    width: 14.28%;
    font-size: 18px;
    text-align: center;
}

.days {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px 0;
}

.days div {
    width: 14.28%;
    margin-bottom: 10px;
    padding: 10px 0;
    transition: all 0.3s;
}

.days div:hover {
    background-color: rgb(176, 27, 149);
    cursor: pointer;
}

#todayDate {
    font-size: 20px;
    font-weight: 400;
    background-color: rgb(176, 27, 149);
}

.prevMonthDate,
.nextMonthDate {
    color: #A9A9A9;
}